<!DOCTYPE html>
<html>
    <head>
	<script src="/public/app.js"></script> 
	<title>
	    {{#if title}}
		{{title}}
	    {{else}}
		Digital Rodomontade
	    {{/if}}
	</title>
    </head>
    <body>
	<div class="navbar navbar-expand-lg navbar-dark bg-dark">
	    <div class="container">
		<a class="navbar-brand" href="/">Digital Rodomontade</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
			{{#if user}}
			    <li class="nav-item">
				<form action="/post/new">
				    <input class="btn" type="submit" value="New Post" />
				</form>
			    </li>
			    <li>{{ user.name }}</li>
			    <li class="nav-item">
				<form action="/post/list" method="GET">
				    <input class="btn" type="submit" value="Post list" />
				</form>
			    </li>
			    <li class="nav-item">
				<form action="/logout" method="GET">
				    <input class="btn" type="submit" value="Logout" />
				</form>
			    </li>
                {{else}}
			    <li class="nav-item">
				<form action="/login" method="GET">
				    <input class="btn" type="submit" value="Login" onsubmit="return login(this)" />
				</form>
			    </li>
			    <li>{{ user.name }}</li>
			{{/if}}
		    </ul>
		</div>
	    </div>
	</div>
	<div class="container">
	    {{#> body-block }}
	    {{/body-block}}
	</div>
    </body>
</html>
