{{#> layout title="Create a new user"}}
{{#*inline "body-block"}}
<form>

    <div>{{error}}</div>
    {{#if error}}
	<div>{{error}}</div>
    {{/if}}
  <div class="form-group">
    <label for="userInputName">Email address</label>
    <input type="text" class="form-control" id="userInputName" placeholder="Enter username">
    {{#if error.name}}
	<small id="userNameError" class="form-text text-muted">
	    <div>{{error.name}}</div>
	</small>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="userInputEmail">Email address</label>
    <input type="email" class="form-control" id="userInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    {{#if error.email}}
	<small id="userEmailError" class="form-text text-muted">
	    <div>{{error.email}}</div>
	</small>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="userInputPassword">Password</label>
    <input type="password" class="form-control" id="userInputPassword" placeholder="Password">
    {{#if error.password}}
	<small id="userPasswordError" class="form-text text-muted">
	    <div>{{error.password}}</div>
	</small>
    {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/inline}}
{{/layout}}
